<form action="/authors/create" method="POST">
    <label for="fname">First Name </label>
    <input type="text" name="firstName" id="fname">
    <label for="lname">Last Name </label>
    <input type="text" name="lastName" id="lname">
    <label for="nationality"> Nationality </label>
    <input type="text" name="nationalit" id="nationality">
    <label for="bday">Birthday</label>
    <input type="date" name="birthday" id="bday">
    <label for="url">Image URl</label>
    <input type="text" name="imageUrl" id="url">
    <button>Submit</button>
</form>